<mat-expansion-panel hideToggle class="response {{ getClass(response.code) }}">
  <mat-expansion-panel-header>
    <mat-panel-title>{{ response.code }}</mat-panel-title>
    <mat-panel-description> {{ response.description }} </mat-panel-description>
  </mat-expansion-panel-header>
  <form [formGroup]="form" *ngIf="form">
    <mat-select formControlName="content">
      <mat-option [value]="content" *ngFor="let content of response.contents; let indexOfelement = index">{{ content.mimetype }}</mat-option>
    </mat-select>
    <pre>{{ prettyParse(form.value.content ?? undefined) }}</pre>
  </form>
</mat-expansion-panel>
